@font-face{
	font-family:'Muli';
	src: url('../fonts/Muli.eot');
	src: url('../fonts/Muli.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Muli.ttf') format('truetype'),
		 url('../fonts/Muli.otf') format('otf'),
		 url('../fonts/Muli.svg') format('svg'),
		 url('../fonts/Muli.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Muli-Black';
	src: url('../fonts/Muli-Black.eot');
	src: url('../fonts/Muli-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Muli-Black.ttf') format('truetype'),
		 url('../fonts/Muli-Black.otf') format('otf'),
		 url('../fonts/Muli-Black.svg') format('svg'),
		 url('../fonts/Muli-Black.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Oswald';
	src: url('../fonts/Oswald.eot');
	src: url('../fonts/Oswald.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald.ttf') format('truetype'),
		 url('../fonts/Oswald.otf') format('otf'),
		 url('../fonts/Oswald.svg') format('svg'),
		 url('../fonts/Oswald.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Iran';
	src: url('../fonts/Iran.eot');
	src: url('../fonts/Iran.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Iran.ttf') format('truetype'),
		 url('../fonts/Iran.woff2') format('woff2'),
		 url('../fonts/Iran.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Iran-Medium';
	src: url('../fonts/Iran-Medium.eot');
	src: url('../fonts/Iran-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Iran-Medium.ttf') format('truetype'),
		 url('../fonts/Iran-Medium.woff2') format('woff2'),
		 url('../fonts/Iran-Medium.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}
