						/*            1200px Screen Start        */

@media only screen and (max-width: 1200px){

	.ms-slide .ms-layer{
		-webkit-transform: scale(.8, .8);
		-moz-transform: scale(.8, .8);
		transform: scale(.8, .8);
	}

}

						/*            1200px Screen End        */

						/*            980px Screen Start        */

@media only screen and (max-width:980px){

	.about-us-content{padding-top: 20px;}
	.about-us.has-7-5-column > .section:nth-child(2n+1){margin-left:0 !important;}

	.product-wrapper::before{display: none;}

	.about-us{height: auto;}
	.about-image-wrapper{height: 320px !important;}

	.about-image-box{min-height:300px;}

	.about-us-content-wrapper{
		height: 100%;
		padding:10px 0 50px 0;
	 }

	 .action--close{
	 	top:0px;
	 	right: 0;
	 }

	 .action{
	 	line-height: 30px;
	    width: 30px;
	    height: 30px;
	 }

	 .navbutton{width:120px;}

	 .recipes-wrapper{display: none;}

	 #map_canvas{height: 400px;}

	 .contact-us-wrapper .frame{max-width: 100% !important;}

	 .contact-form-wrapper{
	 	text-align: center;
	 	border-right:none;
	 }

	 .contact-form-wrapper .cl-4.right-aligned,
	 .footer .cl-5.right-aligned{text-align: center;}

	.ms-layer h1{font-size:32px;}
	.ms-layer h2{font-size:27px;}
	.ms-layer h3{font-size:23px;}
	.ms-layer h4{font-size:19px;}
	.ms-layer h5{font-size:16px;}
	.ms-layer h6{font-size:15px;}
	.ms-layer p{padding-top:10px;}


	
}

						/*            980px Screen End        */

						/*            860px Screen Start        */

@media only screen and (max-width:860px){



}

						/*            860px Screen End        */

						/*            740px Screen Start        */

@media only screen and (max-width:740px){

	.action.action--open i{font-size: 21px;}

	.language-select a.bttn{
		width: 30px;
		min-width: 30px;
	}

}

						/*            740px Screen End        */	

						/*            640px Screen Start        */

@media only screen and (max-width:640px){

	.navigation.nav-up{top:-76px;}
    .navigation.nav-down{top:0;}
	
	#wrapper{padding-top: 76px;}

	.navigation,
	.navigation.sticky{padding:34px 0 42px 0;}

	.navigation .nav-items {
	    position: absolute;
	    top: 75px;
	    left: 0;
	    display: block;
	    width: 100%;
	    background: #ffffff;
	    border-bottom: 1px solid #e6e6e6;
		z-index: 9999999999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
	}

	.navigation .nav-items.open{
		visibility: visible;
		opacity: 1;
	}

	.navigation ul li {
	    display: block;
	    margin-right: 0;
	}

	.navigation ul li:nth-child(2),
	.navigation ul li:nth-child(3),
	.navigation.sticky ul li:nth-child(2){margin:0;}

	.navigation ul li a {
	    display: block;
	    color:#464653;
	    padding:10px 0;
	    background-color: #ffffff;
	    border-top: 1px solid #e6e6e6;
	    border-radius: 0;
	}

	.logo{
		top:8px !important;
		left:auto;
		right: 10px;
		width:46px !important;
	}

	.logo img{width: 50%;}

	.navigation.sticky ul li a{
		-webkit-transform: translateY(0); 
		-moz-transform: translateY(0);
		transform: translateY(0); 
	}

	.ms-bullets.ms-dir-h{bottom:0;}

	.ms-layer h1{font-size:20px;}
	.ms-layer h2{font-size:19px;}
	.ms-layer h3{font-size:18px;}
	.ms-layer h4{font-size:17px;}
	.ms-layer h5{font-size:15px;}
	.ms-layer h6{font-size:14px;}

	.language-select {
	    right: 72px;
	    bottom: 50%;
	    margin-bottom: -15px;
	}
	

}

						/*            640px Screen End        */											

						/*            560px Screen Start        */						

@media only screen and (max-width: 560px){

	


}

						/*            560px Screen End        */

						/*            400px Screen Start        */

@media only screen and (max-width:400px){

	#map_canvas{height: 300px;}

}

						/*            400px Screen End        */										
