/*   Main Styles by Front-end   */

.header{
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.navigation{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	text-align: center;
	padding:99px 0 20px 0;
	background-color: #ffffff;
	z-index: 9999;
	-webkit-box-shadow: 0 2px 20px -2px #939598;
	-moz-box-shadow: 0 2px 20px -2px #939598;
	box-shadow: 0 2px 20px -2px #939598;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

body.noscroll .navigation{z-index: 9;}

.navigation ul{display:inline-block;}

.navigation ul li{
	display: inline-block;
	margin-right: 10px;
}

.navigation ul li:nth-child(2){margin-right: 50px;}
.navigation ul li:nth-child(3){margin-left: 60px;}

.navigation ul li a{
	display: inline-block;
	min-width: 90px;
	font-size: 12px;
	color: #ffffff;
    padding: 6px 10px;
    background-color: #81a862;
    border-radius: 3px;
    -webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.navigation ul li a:hover{background-color:#608444;}
.current-item-nav a{background-color:#f99f31 !important;}

.language-select{
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.language-select a.bttn{
    min-width: 30px;
    font-size: 12px;
    color: #ffffff;
    padding: 6px;
    background-color: #02a897;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.language-select a.bttn:hover{background-color: #018274;}

.logo{
	position: absolute;
	left: 50%;
	top: 10px;
	width: 86px;
	margin-left:-43px;
	z-index: 10;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.navigation.sticky{padding: 35px 0 8px 0;}

.navigation.sticky .logo{
	top:7px;
	width: 44px;
	margin-left: -24px;
}

.navigation.sticky ul li a{
	-webkit-transform: translateY(-13px);
	-moz-transform: translateY(-13px);
	transform: translateY(-13px);
}

.ms-slide .ms-slide-bgcont img{margin-top: 0 !important;}

.about-us-content-wrapper p{padding-top: 10px !important;}

.about-us{
	position: relative;
	height:666px;
	background-color: #81a862;
	z-index: 9;
}

.about-us > .section{height: 100%;}

.about-image-box{
	height: 100%;
	background:url('../images/about-us.jpg') no-repeat right center;
	background-attachment: fixed;
	background-size: cover;
}

.about-us-content{padding-top: 70px;}


.product-wrapper:before{
	content: '';
	position: absolute;
	top: -236px;
	left: 0;
	width: 100%;
	height: 236px;
	background: url('../images/assets/shape-4.png') no-repeat;
}

.product-wrapper{
	position: relative;
	background: #f0f0f0;
	z-index: 999;
}

.product-wrapper a {
	text-decoration: none;
	color: #000;
	outline: none;
}

.product-wrapper a:hover,
.product-wrapper a:focus {
	color: #414146;
}

.slideshow{
	padding:15px 0;
	margin:0;
}

.js .slide--open .slide__content{display: table !important;}

.slide__content-scroller{
	display: table-cell;
	vertical-align: middle;
}

.deco--expander,
.deco--circle{border-radius: 3px;}

.action--open{
	right: 50%;
	margin: 0 -25px 10px 0;
	background: transparent;
}

.action--open:hover{
	cursor: pointer;
	background: transparent;
}

.navbutton:hover{cursor: pointer;}

.action.action--open i{
	font-size: 28px;
	color: #81a862;
}

.recipes-wrapper{position: relative;}

.recipes-wrapper:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 236px;
	background: url('../images/assets/shape-3.png') no-repeat center;
	z-index: 99;
}

.inner-recipes-box{
	max-width: 800px;
	min-height: 600px;
	padding:20px;
	margin:0 auto !important;
	background-color: #ffffff;
	border-radius: 3px;
}

.recipes-wrapper .ms-bullet,
.recipes-wrapper .ms-bullet-selected {
	width: 12px;
	height: 12px;
	background: #ffffff !important;
}

.recipes-wrapper .ms-bullet-selected{
	background-color: #81a862 !important;
	border:2px solid #ffffff;
}

ul.recipe-description-list-items li {
    position: relative;
    font-size: 14px;
    line-height: 23px;
    padding: 0px 8px 0 33px;
    margin: 15px 0;
}

ul.recipe-description-list-items li::before {
    content: attr(recipe-data);
    position: absolute;
    top: -2px;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
}

.prep-time{
	width: 100%;
	overflow:hidden;
}

.prep-time-item {
	display: inline-block;
    float: left;
    width: 80px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    color: #999;
    padding: 0 10px;
    margin-top: 20px;
    border-right: solid 1px #e6e6e6;
}

.prep-time-item:first-child {
    width: 32px;
    padding: 0;
    border-right: none;
}

.clock-icon {
	display: block;
    width: 32px;
    height: 32px;
    background-image: url('../images/assets/time.svg'); 
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.prep-time-item:last-child{
	width:auto;
	border:none;
}

.prep-time-item p {
	font-size: 16px;
	padding:0 0 5px 0;
}

.prep-time-item-time {color: #4d4d4d;}

.fancybox-overlay{z-index: 9999999;}

.fancybox-thumbs{
	overflow: hidden;
	display: none;
	border-radius: 3px;
}

.fancybox-thumbs:first-child{
	position: relative;
	display: block;
}

.fancybox-thumbs::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/assets/view.png') no-repeat center rgba(255, 255, 255, .4);
}

.fancybox-thumbs:hover::after{
	background-color: transparent;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.master-slider .fancybox-thumbs img{max-width: 100% !important;}

.ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev {
    width: 64px;
    height: 64px;
    cursor: pointer;
    top: 50%;
    left: 30px;
    margin-top: 60px;
    position: absolute;
    z-index: 10;
}

.ms-skin-default .ms-nav-prev {
	background-image: url('../images/assets/back-slider.png');
	background-position: unset;
}

.ms-skin-default .ms-nav-next {
    right: 30px;
    left: auto;
	background-image: url('../images/assets/next-slider.png');
	background-position: unset;
}

.contact-us-wrapper > .has-7-5-column > .section,
.about-us.has-7-5-column > .section{margin-left: 0;}

.contact-us-wrapper .has-7-5-column > .section:nth-child(2n+1),
.about-us.has-7-5-column > .section:nth-child(2n+1){width: 59.375%;}

.contact-form-wrapper{border-right: 1px solid #464653;}

.social-wrapper a,
.social-wrapper span{
	display: inline-block;
	vertical-align: middle;
}

.social-wrapper a{
	width: 36px;
	height: 36px;
	margin-left:10px;
}

a.instagram{background: url('../images/icons/instagram.png') no-repeat center;}
a.facebook{background: url('../images/icons/facebook.png') no-repeat center;}
a.twitter{background: url('../images/icons/twitter.png') no-repeat center;}

.social-wrapper a:hover{opacity: .8;}

.footer span{font-family: 'Oswald';}
.footer span a{color: #81a862;}
.footer span a:hover{color: #f36f2f;}

.product-slider-buttons{display: none;}

/*   Added Styles by Back-end   */







/*   Added Styles After Q&A   */






